/*---------------------------------
#1 Background
#2 Elements
#3 Form
#4 Position
#5 Padding / Margin
---------------------------------*/

/*------TAGS---------------------*/
body {
	background-color: black;
	background-position: center;

	color: white;
	font-family: serif;
	font-size: 23px;

	margin: 0;
}

a {
	color: white;
	text-decoration: none;
}

div {
	position: absolute;
}

/*------ID------------------------*/
#header {
	display: grid;
	justify-content: center;
	align-items: center;

	width: 15vw;
	height: 30vh;
	min-width: 153px;
	min-height: 180px;

	box-sizing: border-box;
	border: 1px solid white;
}

#header a {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 15vw;
	height: 100%;
	min-width: 153px;
	min-height: 60px;

	box-sizing: border-box;
	border: 1px solid white;
}

#header-label {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;

	width: 15vw;
	height: 10vh;
	min-width: 153px;
	min-height: 50px;

	top: calc(90vh - 1px);;
	left: -1px;

	box-sizing: border-box;
	border: 1px solid white;
}

#matchmaking {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 15vw;
	height: 60vh;
	min-width: 153px;
	min-height: 346px;

	top: 30vh;

	box-sizing: border-box;
	border: 1px solid white;
}

#chat {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 25vw;
	height: 50vh;
	min-width: 256px;
	min-height: 576px;

	top: 28vh;
	left: 73vw;

	box-sizing: border-box;
	border: 1px solid white;
}

#profileContentArea {
	top: 0vh;
	width: 85vw;
    height: 92vh;
    
    min-height: 576px;
	box-sizing: border-box;
	border: 1px solid white;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

#profileNavArea {
	top: calc(92vh - 1px);
	height: 8vh;
	width: 60vw;
	
	box-sizing: border-box;
	border: 1px solid white;
}

#infoBar {
	left: 0vw;
}

#invBar {
	left: 20vw;
}

#histBar {
	left: 40vw;
}

/*------NAME-----------------------*/
[name="middle-content"] {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 85vw;
	height: 100vh;
	min-width: 615px;
	min-height: 576px;

	left: 15vw;

	box-sizing: border-box;
	border: 1px solid white;
}

[name="profileNavBar"] {
	height: 100%;
	width: 33.3%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border: 1px solid white;
}

/*------RULES----------------------*/
@media (max-width: 1024px) {
	#chat {
		left: 767.25px;
	}

	#profileNavArea {
		min-width: 615px;
	}

	#profileContentArea {
		min-width: 615px;
	}

	#infoBar {
		left: 0px;
	}
	
	#invBar {
		left: 204.8px;
	}
	
	#histBar {
		left: 409.6px;
	}

	[name="middle-content"] {
		left: 153.45px;
	}
}

@media (max-height: 576px) {
	#header-label {
		top: 517.5px;
	}

	#matchmaking {
		top: 174px;
	}
}