/* ---------------------------------
Methodology BEM (Block, Element, Modifier)

Block: Un composant indépendant
ex: Un bouton, une barre de navigation, un en-tête...
ex: ".navbBar {}"
ex: ".button {}"

Element: Une partie d'un Block qui a un sens uniquement dans le contexte de ce Block.
ex: ".navbBar__logo {}"
ex: ".button__icon {}"

Modifier: Une variation ou un état d'un Block ou d'un élément. 
ex: ".button--large {}"
ex: ".navbBar__logo--hidden {}"
--------------------------------- */

/* ---------------------------------
#1 Elements
#2 Form
#3 Position
#4 Margin - Padding
--------------------------------- */

/* ------CLASS-------------------- */
.chat--resize {
	/* #1 Elements */
	position: relative;

	/* #3 Position */
	grid-column: 1 / -1;
	grid-row: 2 / 2;
}

.chat {
	/* #1 Elements */
	display: flex;
	flex-direction: column-reverse;

	/* #2 Form */
	resize: both;
	overflow: auto;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	max-width: 300%;
	max-height: 100%;

	/* #3 Position */
	position: absolute;

	/* #4 Margin - Padding */
	padding: 10px;
	padding-bottom: 0px;
}

.chat--noResize {
	/* #2 Form */
	resize: none;
}

.chat__content {
	/* #1 Elements */
	border: 1px solid rgb(0, 122, 6);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 40px;
	grid-template-rows: 40px auto 40px;
	position: relative;

	/* #2 Form */
	height: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.chat__content--hidden {
	/* #1 Elements */
	display: none;
}

.chat__rooms {
	/* #1 Elements */
	border-bottom: 1px solid rgb(0, 122, 6);
	display: flex;
	overflow-x: auto;
	font-size: 17px;

	/* #3 Position */
	grid-column: 1 / 4;
	grid-row: 1 / 1;
}

.chat__rooms * {
	/* #1 Elements */
	border-right: 1px solid rgb(0, 122, 6);
	display: flex;
	align-items: center;

	/* #2 Form */
	flex-shrink: 0;
	width: calc(60.5px + 5%);
	height: 100%;

	/* #4 Margin - Padding */
	padding-left: 5px;
}

.chat__newRoom {
	/* #1 Elements */
	border-left: 1px solid rgb(0, 122, 6);
	border-bottom: 1px solid rgb(0, 122, 6);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 17px;

	/* #3 Position */
	grid-column: 4 / -1;
	grid-row: 1 / 1;
}

.chat__newRoom--pressed {
	background-color: rgb(0, 122, 6, 0.3);
}

.chat__roomSettings {
	/* #1 Elements */
	border: 1px solid rgb(0, 122, 6);
	display: flex;
	align-items: center;
	justify-content: center;

	/* #2 Form */
	width: 400px;
	height: 450px;

	/* #3 Position */
	position: absolute;
	top: 53px;
}

.chat__roomSettings--closed {
	/* #1 Elements */
	display: none;
}

.chat__area {
	/* #1 Elements */
	border-bottom: 1px solid rgb(0, 122, 6);
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	font-size: 17px;

	/* #3 Position */
	grid-column: 1 / -1;
	grid-row: 2 / 2;

	/* #4 Margin - Padding */
	padding: 10px;
}

.chat__area--shorten {
	/* #2 Form */
	width: calc(100% - 175px);
}

.chat__userList {
	/* #1 Elements */
	border-left: 1px solid rgb(0, 122, 6);
	border-bottom: 1px solid rgb(0, 122, 6);
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	font-size: 17px;

	/* #2 Form */
	width: 175px;
	height: 100%;

	/* #3 Position */
	grid-column: 1 / -1;
	grid-row: 2 / 2;
	position: absolute;
	right: 0%;
}

.chat__userList * {
	/* #1 Elements */
	border-bottom: 1px solid rgb(0, 122, 6);
	display: flex;
	align-items: center;

	/* #2 Form */
	width: 100%;
	height: 25.4px;

	/* #4 Margin - Padding */
	padding-left: 5px;
}

.chat__userList--hidden {
	/* #1 Elements */
	display: none;
}

.chat__content input {
	/* #1 Elements */
	border: 1px solid rgb(0, 122, 6);
	box-sizing: border-box;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	font-family: serif;
	font-size: 17px;

	/* #2 Form */
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	min-height: calc(100% - 10px);
	max-height: calc(300% - 10px);
	border-radius: 5px;

	/* #3 Position */
	grid-column: 1 / 4;
	grid-row: 3 / -1;
	align-self: flex-end;

	/* #4 Margin - Padding */
	margin: 5px;
}

.chat__sendMsg {
	/* #1 Elements */
	border: 1px solid rgb(0, 122, 6);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;

	/* #2 Form */
	width: calc(100% - 5px);
	height: calc(100% - 10px);
	border-radius: 5px;

	/* #3 Position */
	grid-column: 4 / -1;
	grid-row: 3 / -1;

	/* #4 Margin - Padding */
	margin: 5px;
	margin-left: 0px;
}

.chat__button {
	/* #1 Elements */
	border: 1px solid rgb(0, 122, 6);
	display: flex;
	align-items: center;
	justify-content: center;

	/* #2 Form */
	height: 45px;
	border-radius: 5px;
}

.chat__button--expended {
	/* #1 Elements */
	border-bottom: none;

	/* #2 Form */
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.chat__button--pressed {
	background-color: rgba(0, 122, 6, 0.3);
}