/* ---------------------------------
Methodology BEM (Block, Element, Modifier)

Block: Un composant indépendant
ex: Un bouton, une barre de navigation, un en-tête...
ex: ".navbBar {}"
ex: ".button {}"

Element: Une partie d'un Block qui a un sens uniquement dans le contexte de ce Block.
ex: ".navbBar__logo {}"
ex: ".button__icon {}"

Modifier: Une variation ou un état d'un Block ou d'un élément. 
ex: ".button--large {}"
ex: ".navbBar__logo--hidden {}"
--------------------------------- */

/* ---------------------------------
#1 Elements
#2 Form
#3 Position
#4 Margin - Padding
--------------------------------- */

/* ------CLASS-------------------- */

.navbBar {
	/* #1 Elements */
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.5fr 1fr 1fr 1fr;

	/* #3 Position */
	grid-column: 1 / -1;
	grid-row: 1 / 1;

	/* #4 Margin - Padding */
	padding: 10px;
	padding-bottom: 0px;
}

.navbBar * {
	/* #1 Elements */
	border: 1px solid rgb(172, 0, 0);
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbBar__first {
	/* #2 Form */
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.navbBar__last {
	/* #2 Form */
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.navbBar__backLink {
	/* #2 Form */
	height: 45px;
}