/* ------------------------------ */
/* #1 Éléments */
/* #2 Forme */
/* #3 Position */
/* #4 Margin - Padding */
/* #5 Animations */
/* ------------------------------ */

/* ---CHAT-SETTINGS-------------- */
.chat-settings-box {
	/* #3 Position */
	position: fixed;
	z-index: 5;
}

.chat-settings {
	/* #1 Éléments */
	background-color: rgb(0, 0, 0, 0.7);
	border: 3px solid rgb(110, 210, 90);
	display: grid;
	grid-gap: 5px;

	/* #4 Margin - Padding */
	padding: 10px;
}

.chat-settings-join {
	/* #1 Éléments */
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 40px 40px 50px;
	align-items: flex-end;
}

.chat-settings-input {
	/* #1 Éléments */
	background-color: rgb(0, 0, 0, 0.7);
	border: 3px solid rgb(110, 210, 90);
	text-align: center;

	/* #2 Forme */
	width: 305px;
	height: 40px;

	/* #3 Position */
	grid-column: 1 / -1;
}

.chat-settings-btn {
	/* #1 Éléments */
	background-color: rgb(0, 0, 0, 0.7);
	border: 3px solid rgb(110, 210, 90);

	/* #2 Forme */
	width: 150px;
	height: 45px;
}

.chat-settings-commit-btn:nth-of-type(1) {
	/* #3 Position */
	justify-self: flex-end;
}

.chat-settings-commit-btn:nth-of-type(2) {
	/* #3 Position */
	justify-self: flex-start;
}

/* ---ROOM-SETTINGS-------------- */
.chat-roomSettings {
	/* #1 Éléments */
	background-color: rgb(0, 0, 0, 0.7);
	border: 3px solid rgb(110, 210, 90);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 40px 40px auto 50px;
	grid-gap: 5px;
	align-items: center;
	justify-items: center;

	/* #2 Forme */
	width: 450px;
	height: 450px;

	/* #4 Margin - Padding */
	padding: 10px;
}

.chat-roomSettings-search-input {
	/* #1 Éléments */
	background-color: rgb(0, 0, 0, 0.7);
	border-bottom: 2px solid rgb(110, 210, 90);

	/* #2 Forme */
	flex-shrink: 0;
	height: 40px;

	/* #3 Position */
	position: sticky;
	z-index: 1;
	top: 0;
}

.chat-roomSettings-users {
	/* #1 Éléments */
	background-color: rgb(0, 0, 0, 0.7);
	border: 3px solid rgb(110, 210, 90);
	display: flex;
	flex-direction: column;
	overflow-x: hidden;

	/* #2 Forme */
	width: 100%;
	height: 90%;
}

/* ---ROOM-USR------------------- */
.chat-roomSettings-usr {
	/* #1 Éléments */
	background-color: rgb(0, 0, 0, 0.7);
	border-bottom: 2px solid rgb(110, 210, 90);
	display: flex;
	position: relative;

	/* #2 Forme */
	flex-shrink: 0;
	height: 40px;
}

.chat-roomSettings-usr-link {
	/* #1 Éléments */
	text-align: start;
	cursor: pointer;

	/* #2 Forme */
	width: 100%;
	height: 100%;

	/* #4 Margin - Padding */
	padding-top: 7px;
	padding-left: 5px;
}

.chat-roomSettings-usr-btns {
	/* #1 Éléments */
	display: flex;

	/* #2 Forme */
	height: 100%;

	/* #3 Position */
	position: absolute;
	right: 0;
}

.chat-roomSettings-usr-btn {
	/* #1 Éléments */
	background-color: rgb(0, 0, 0, 0.7);
	border-left: 2px solid rgb(110, 210, 90);

	/* #2 Forme */
	width: 40px;
}