/* ---------------------------------
Méthodologie B-E--M (Bloc, Élément, Modifieur)

Bloc: Un composant indépendant
ex: Un bouton, une barre de navigation, un en-tête...
ex: ".navBar {}"
ex: ".button {}"

Élément: Une partie d'un bloc qui a un sens uniquement dans le contexte de ce bloc.
ex: ".navBar-logo {}"
ex: ".button-icon {}"

Modifieur: Une variation ou un état d'un bloc ou d'un élément. 
ex: ".button--large {}"
ex: ".navBar-logo--hidden {}"
--------------------------------- */

/* ---------------------------------
#1 Éléments
#2 Forme
#3 Position
#4 Margin - Padding
#5 Animations
--------------------------------- */

/* ---CHARACTERS----------------- */
.characters {
	/* #1 Éléments */
	display: grid;
	grid-template-columns: 500px 1fr;
	grid-gap: 10px;
	overflow: hidden;

	/* #4 Margin - Padding */
	padding: 10px;
	padding-left: 0;
}

.characters-select {
	/* #1 Éléments */
	border: 1px solid rgb(255, 255, 0);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: flex-start;
	justify-content: center;
	overflow-x: hidden;

	/* #2 Forme */
	height: 100%;

	/* #3 Position */
	align-self: flex-end;
}

.character-box {
	/* #1 Éléments */
	border: 1px solid rgb(255, 255, 0);

	/* #2 Forme */
	min-width: 200px;
	min-height: 200px;

	/* #4 Margin - Padding */
	margin: 50px;
}

.character-box--pressed {
	background-color: rgb(255, 255, 0, 0.3);
}

/* ---CHARACTER------------------ */
.character {
	/* #1 Éléments */
	border: 1px solid rgb(255, 255, 0);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1.5fr 2fr 1fr;
}

.character-skin {
	/* #1 Éléments */
	border-bottom: 1px solid rgb(255, 255, 0);
	display: flex;
	align-items: center;
	justify-content: center;

	/* #3 Position */
	grid-column: 1 / -1;
}

.character-stats {
	/* #1 Éléments */
	border-bottom: 1px solid rgb(255, 255, 0);
	border-right: 1px solid rgb(255, 255, 0);
	display: flex;
	align-items: center;
	justify-content: center;
}

.character-story {
	/* #1 Éléments */
	border-bottom: 1px solid rgb(255, 255, 0);
	display: flex;
	align-items: center;
	justify-content: center;
}

/* ---CHARACTER-SPELLS----------- */
.character-spells {
	/* #1 Éléments */
	border-bottom: 1px solid rgb(255, 255, 0);
	display: flex;
	align-items: center;
	justify-content: center;

	/* #3 Position */
	grid-column: 1 / -1;
}

.character-spell-box {
	/* #1 Éléments */
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	/* #4 Margin - Padding */
	margin: 0 30px;
}

.character-spell {
	/* #1 Éléments */
	border: 1px solid rgb(255, 255, 0);
	display: flex;
	align-items: center;
	justify-content: center;

	/* #2 Forme */
	height: 150px;
	width: 150px;
}

.character-spell-tooltip {
	/* #1 Éléments */
	border: 1px solid rgb(255, 255, 0);
	display: flex;
	align-items: center;
	justify-content: center;

	/* #2 Forme */
	height: 300px;
	width: 400px;

	/* #3 Position */
	position: absolute;
	left: 0;
	bottom: 160px;
	z-index: 1;
}