/* ------------------------------ */
/* #1 Éléments */
/* #2 Forme */
/* #3 Position */
/* #4 Margin - Padding */
/* #5 Animations */
/* ------------------------------ */

/* ---CHARACTERS----------------- */
.characters {
	/* #1 Éléments */
	display: grid;
	grid-template-columns: 1fr 500px;
	grid-gap: 5px;
	overflow: hidden;
}

.characters-select {
	/* #1 Éléments */
	background-image: url('../resource/assets-ui/background-2.png');
	border: 10px solid;
	border-image-source: url('../resource/assets-ui/black-border.png');
	border-image-slice: 15;
	border-image-width: 15px;
	display: grid;
	grid-template-columns: repeat(auto-fill, 200px);
	grid-auto-rows: 200px;
	grid-gap: 30px;
	justify-content: center;
	overflow-x: hidden;

	/* #4 Margin - Padding */
	padding: 50px;
}

.character-box {
	/* #1 Éléments */
	background-image: url('../resource/assets-ui/background-1.png');
	border: 10px solid;
	border-image-source: url('../resource/assets-ui/black-border.png');
	border-image-slice: 15;
	border-image-width: 15px;
	cursor: pointer;

	/* #2 Forme */
	min-width: 200px;
	min-height: 200px;
}

/* ---CHARACTER------------------ */
.character {
	/* #1 Éléments */
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 300px auto 200px;
	grid-gap: 5px;
}

.character-skin {
	/* #1 Éléments */
	background-image: url('../resource/assets-ui/background-1.png');
	border: 10px solid;
	border-image-source: url('../resource/assets-ui/black-border.png');
	border-image-slice: 15;
	border-image-width: 15px;

	/* #3 Position */
	grid-column: 1 / -1;
}

.character-stats {
	/* #1 Éléments */
	background-image: url('../resource/assets-ui/background-1.png');
	border: 10px solid;
	border-image-source: url('../resource/assets-ui/black-border.png');
	border-image-slice: 15;
	border-image-width: 15px;
	display: flex;
	align-items: center;
	justify-content: center;

	/* #4 Margin - Padding */
	padding: 5px;
}

.character-story {
	/* #1 Éléments */
	background-image: url('../resource/assets-ui/background-1.png');
	border: 10px solid;
	border-image-source: url('../resource/assets-ui/black-border.png');
	border-image-slice: 15;
	border-image-width: 15px;
	display: flex;
	align-items: center;
	justify-content: center;

	/* #4 Margin - Padding */
	padding: 5px;
}

/* ---CHARACTER-SPELLS----------- */
.character-spells {
	/* #1 Éléments */
	background-image: url('../resource/assets-ui/background-2.png');
	border: 10px solid;
	border-image-source: url('../resource/assets-ui/black-border.png');
	border-image-slice: 15;
	border-image-width: 15px;
	display: grid;
	grid-template-columns: 1fr 1fr;

	/* #3 Position */
	grid-column: 1 / -1;

	/* #4 Margin - Padding */
	padding: 0 40px;
}

.character-spell {
	/* #1 Éléments */
	background-image: url('../resource/assets-ui/background-1.png');
	border: 10px solid;
	border-image-source: url('../resource/assets-ui/black-border.png');
	border-image-slice: 15;
	border-image-width: 15px;

	/* #2 Forme */
	height: 140px;
	width: 140px;

	/* #3 Position */
	align-self: center;
	justify-self: center;
}

.character-spell-tooltip {
	/* #1 Éléments */
	background-image: url('../resource/assets-ui/background-1.png');
	border: 10px solid;
	border-image-source: url('../resource/assets-ui/black-border.png');
	border-image-slice: 15;
	border-image-width: 15px;
	display: flex;
	align-items: center;
	justify-content: center;

	/* #2 Forme */
	height: 300px;
	width: 400px;

	/* #3 Position */
	position: fixed;
	z-index: 1;
}