/* ---------------------------------
Méthodologie B-E--M (Bloc, Élément, Modifieur)

Bloc: Un composant indépendant
ex: Un bouton, une barre de navigation, un en-tête...
ex: ".navBar {}"
ex: ".button {}"

Élément: Une partie d'un bloc qui a un sens uniquement dans le contexte de ce bloc.
ex: ".navBar-logo {}"
ex: ".button-icon {}"

Modifieur: Une variation ou un état d'un bloc ou d'un élément. 
ex: ".button--large {}"
ex: ".navBar-logo--hidden {}"
--------------------------------- */

/* ---------------------------------
#1 Éléments
#2 Forme
#3 Position
#4 Margin - Padding
#5 Animations
--------------------------------- */

/* ---ERROR---------------------- */
.error {
	/* #1 Éléments */
	border: 1px solid rgb(255, 255, 255);
	display: flex;
	align-items: center;
	justify-content: center;

	/* #2 Forme */
	width: calc(100% - 10px);
	height: calc(100% - 20px);

	/* #3 Position */
	align-self: center;
}