/* ---------------------------------
Méthodologie B-E--M (Bloc, Elément, Modifieur)

Block: Un composant indépendant
ex: Un bouton, une barre de navigation, un en-tête...
ex: ".navBar {}"
ex: ".button {}"

Element: Une partie d'un Block qui a un sens uniquement dans le contexte de ce Block.
ex: ".navBar-logo {}"
ex: ".button-icon {}"

Modifier: Une variation ou un état d'un Block ou d'un élément. 
ex: ".button--large {}"
ex: ".navBar-logo--pressed {}"
--------------------------------- */

/* ---------------------------------
#1 Elements
#2 Form
#3 Position
#4 Margin - Padding
--------------------------------- */

/* ---LEADER--------------------- */
.leader-head {
	/* #1 Elements */
	border: 1px solid rgb(255, 239, 57);
	border-bottom: none;
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end;

	/* #2 Form */
	height: 20%;

	/* #4 Margin - Padding */
	padding: 10px;
}

.leader-body {
	/* #1 Elements */
	border: 1px solid rgb(255, 239, 57);

	/* #2 Form */
	height: 80%;
}

.leader-input {
	/* #1 Elements */
	border: 1px solid rgb(255, 239, 57);

	/* #2 Form */
	width: 250px;
}

.leader-btn {
	/* #1 Elements */
	border: 1px solid rgb(255, 239, 57);
	font-size: 15px;

	/* #2 Form */
	width: 35px;
	height: 30px;
}

.leader-input-btn {
	/* #4 Margin - Padding */
	margin-left: 5px;
	margin-right: 15px;
}

.leader-findTop-btn {
	/* #2 Form */
	width: 80px;
}

.leader-findMe-btn {
	/* #2 Form */
	width: 80px;

	/* #4 Margin - Padding */
	margin-left: 5px;
	margin-right: 15px;
}

.leader-up-btn {
	/* #4 Margin - Padding */
	margin-right: 5px;
}

.leader-boardHead {
	/* #1 Elements */
	border-bottom: 1px solid rgb(255, 239, 57);
	display: flex;

	/* #2 Form */
	height: 6%;
}

.leader-col {
	/* #1 Elements */
	border: none;
	border-right: 1px solid rgb(255, 239, 57);
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;

	/* #2 Form */
	width: 14%;
	height: 100%;
}

.leader-col-head {
	/* #1 Elements */
	font-size: 17px;
}

.leader-col-name {
	/* #2 Form */
	width: 25%;
	min-width: 250px;
}

.leader-col-scored {
	/* #1 Elements */
	border-right: none;

	/* #2 Form */
	width: 19%;
}

.leader-usr-rank {
	/* #1 Elements */
	background-color: transparent;

	/* #2 Form */
	width: 60px;
}

.leader-usr-pic {
	/* #1 Elements */
	border: 1px solid rgb(255, 239, 57);
	display: flex;
	align-items: center;
	justify-content: center;

	/* #2 Form */
	width: 50px;
	height: 50px;
}

.leader-usr-link {
	/* #1 Elements */
	background-color: transparent;
	text-align: start;

	/* #2 Form */
	font-size: 17px;
	width: calc(100% - 110px);

	/* #4 Margin - Padding */
	padding-left: 10px;
}

.leader-usr {
	/* #1 Elements */
	border-bottom: 1px solid rgb(255, 239, 57);
	font-size: 17px;
	display: flex;

	/* #2 Form */
	height: 9.4%;
}

.leader-btn--pressed {
	/* #1 Elements */
	background-color: rgb(255, 239, 57, 0.355);
}