/* ---------------------------------
Méthodologie B-E--M (Bloc, Élément, Modifieur)

Bloc: Un composant indépendant
ex: Un bouton, une barre de navigation, un en-tête...
ex: ".navBar {}"
ex: ".button {}"

Élément: Une partie d'un bloc qui a un sens uniquement dans le contexte de ce bloc.
ex: ".navBar-logo {}"
ex: ".button-icon {}"

Modifieur: Une variation ou un état d'un bloc ou d'un élément. 
ex: ".button--large {}"
ex: ".navBar-logo--hidden {}"
--------------------------------- */

/* ---------------------------------
#1 Éléments
#2 Forme
#3 Position
#4 Margin - Padding
#5 Animations
--------------------------------- */

/* ---LEADER--------------------- */
.leader {
	/* #1 Éléments */
	display: flex;
	flex-direction: column;
	overflow: hidden;

	/* #4 Margin - Padding */
	padding: 10px;
	padding-left: 0;
}

.leader-btn {
	/* #1 Éléments */
	border: 1px solid rgb(255, 255, 0);

	/* #2 Forme */
	width: 55px;
	height: 35px;
}

.leader-btn--pressed {
	/* #1 Éléments */
	background-color: rgb(255, 255, 0, 0.3);
}

/* ---LEADER-HEAD---------------- */
.leader-head {
	/* #1 Éléments */
	border: 1px solid rgb(255, 255, 0);
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end;

	/* #4 Margin - Padding */
	padding: 10px;
}

.leader-input {
	/* #1 Éléments */
	border: 1px solid rgb(255, 255, 0);

	/* #2 Forme */
	width: 325px;
	height: 35px;
}

.leader-input-btn {
	/* #4 Margin - Padding */
	margin-left: 5px;
	margin-right: 15px;
}

.leader-findTop-btn {
	/* #2 Forme */
	width: 110px;
}

.leader-findMe-btn {
	/* #2 Forme */
	width: 110px;

	/* #4 Margin - Padding */
	margin-left: 5px;
	margin-right: 15px;
}

.leader-up-btn {
	/* #4 Margin - Padding */
	margin-right: 5px;
}

/* ---LEADER-BODY---------------- */
.leader-body {
	/* #1 Éléments */
	border: 1px solid rgb(255, 255, 0);
	overflow-y: auto;

	/* #2 Forme */
	height: 100%;
}

.leader-boardHead {
	/* #1 Éléments */
	border-bottom: 1px solid rgb(255, 255, 0);
	display: flex;

	/* #2 Forme */
	height: 50px;

	/* #3 Position */
	position: sticky;
	top: 0;
	z-index: 1;
}

.leader-col {
	/* #1 Éléments */
	border-right: 1px solid rgb(255, 255, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	/* #2 Forme */
	width: 14%;
	height: 100%;
}

.leader-col:first-child {
	/* #2 Forme */
	width: 25%;
	min-width: 250px;
}

.leader-col:last-child {
	/* #1 Éléments */
	border-right: none;

	/* #2 Forme */
	width: 19%;
}

.leader-col--bigFont {
	/* #1 Éléments */
	font-size: 30px;
}

/* ---LEADER-USR----------------- */
.leader-usr {
	/* #1 Éléments */
	border-top: 1px solid rgb(255, 255, 0);
	border-bottom: 1px solid rgb(255, 255, 0);
	display: flex;

	/* #2 Forme */
	height: 70px;
}

.leader-usr-rank {
	/* #1 Éléments */
	background-color: transparent;

	/* #2 Forme */
	width: 60px;
}

.leader-usr-pic {
	/* #1 Éléments */
	border: 1px solid rgb(255, 255, 0);
	display: flex;
	align-items: center;
	justify-content: center;

	/* #2 Forme */
	width: 50px;
	height: 50px;
}

.leader-usr-link {
	/* #1 Éléments */
	background-color: transparent;
	text-align: start;

	/* #2 Forme */
	width: calc(100% - 120px);

	/* #4 Margin - Padding */
	margin-left: 10px;
}