/* ---------------------------------
Méthodologie B-E--M (Bloc, Elément, Modifieur)

Block: Un composant indépendant
ex: Un bouton, une barre de navigation, un en-tête...
ex: ".navBar {}"
ex: ".button {}"

Element: Une partie d'un Block qui a un sens uniquement dans le contexte de ce Block.
ex: ".navBar-logo {}"
ex: ".button-icon {}"

Modifier: Une variation ou un état d'un Block ou d'un élément. 
ex: ".button--large {}"
ex: ".navBar-logo--pressed {}"
--------------------------------- */

/* ---------------------------------
#1 Elements
#2 Form
#3 Position
#4 Margin - Padding
#5 Animations
--------------------------------- */

/* ---LEADER--------------------- */
.leader {
	/* #1 Elements */
	overflow-y: auto;

	/* #2 Form */
	width: calc(100% - 10px);
	height: calc(100% - 20px);

	/* #3 Position */
	align-self: center;
}

/* ---HEAD----------------------- */
.leader-head {
	/* #1 Elements */
	border: 1px solid rgb(255, 255, 0);
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end;

	/* #2 Form */
	height: 20%;

	/* #4 Margin - Padding */
	padding: 10px;
}

.leader-input {
	/* #1 Elements */
	border: 1px solid rgb(255, 255, 0);

	/* #2 Form */
	width: 325px;
	height: 35px;
}

.leader-btn {
	/* #1 Elements */
	border: 1px solid rgb(255, 255, 0);

	/* #2 Form */
	width: 55px;
	height: 35px;
}

.leader-input-btn {
	/* #4 Margin - Padding */
	margin-left: 5px;
	margin-right: 15px;
}

.leader-findTop-btn {
	/* #2 Form */
	width: 110px;
}

.leader-findMe-btn {
	/* #2 Form */
	width: 110px;

	/* #4 Margin - Padding */
	margin-left: 5px;
	margin-right: 15px;
}

.leader-up-btn {
	/* #4 Margin - Padding */
	margin-right: 5px;
}

/* ---BODY----------------------- */
.leader-body {
	/* #1 Elements */
	border: 1px solid rgb(255, 255, 0);
	overflow-y: auto;

	/* #2 Form */
	height: 80%;
}

.leader-boardHead {
	/* #1 Elements */
	border-bottom: 1px solid rgb(255, 255, 0);
	display: flex;

	/* #2 Form */
	height: 50px;

	/* #3 Position */
	position: sticky;
	top: 0;
}

.leader-col {
	/* #1 Elements */
	border: none;
	border-right: 1px solid rgb(255, 255, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;

	/* #2 Form */
	width: 14%;
	height: 100%;
}

.leader-col:first-child {
	/* #2 Form */
	width: 25%;
	min-width: 250px;
}

.leader-col:last-child {
	/* #1 Elements */
	border-right: none;

	/* #2 Form */
	width: 19%;
}

.leader-col--bigFont {
	/* #1 Elements */
	font-size: 30px;
}

/* ---USR-NAME------------------- */
.leader-usr-rank {
	/* #1 Elements */
	background-color: transparent;

	/* #2 Form */
	width: 60px;
}

.leader-usr-pic {
	/* #1 Elements */
	border: 1px solid rgb(255, 255, 0);
	display: flex;
	align-items: center;
	justify-content: center;

	/* #2 Form */
	width: 50px;
	height: 50px;
}

.leader-usr-link {
	/* #1 Elements */
	background-color: transparent;
	text-align: start;

	/* #2 Form */
	width: calc(100% - 110px);

	/* #4 Margin - Padding */
	margin-left: 10px;
}

.leader-usr {
	/* #1 Elements */
	border-top: 1px solid rgb(255, 255, 0);
	border-bottom: 1px solid rgb(255, 255, 0);
	display: flex;

	/* #2 Form */
	height: 70px;
}

/* ---BTN------------------------ */
.leader-btn--pressed {
	/* #1 Elements */
	background-color: rgb(255, 255, 0, 0.3);
}