/* ---------------------------------
Méthodologie B-E--M (Bloc, Elément, Modifieur)

Block: Un composant indépendant
ex: Un bouton, une barre de navigation, un en-tête...
ex: ".navBar {}"
ex: ".button {}"

Element: Une partie d'un Block qui a un sens uniquement dans le contexte de ce Block.
ex: ".navBar-logo {}"
ex: ".button-icon {}"

Modifier: Une variation ou un état d'un Block ou d'un élément. 
ex: ".button--large {}"
ex: ".navBar-logo--pressed {}"
---------------------------------- */

/* ---------------------------------
#1 Elements
#2 Form
#3 Position
#4 Margin - Padding
--------------------------------- */

/* ---MATMAKER------------------- */
.matchmaker {
	/* #1 Elements */
	border: 1px solid rgb(36, 81, 230);

	/* #2 Form */
	border-radius: 5px;
}

.matchmaker--pressed {
	/* #1 Elements */
	background-color: rgba(36, 81, 230, 0.355);
}

/* ---GAME-INFOS----------------- */
.gameInfos {
	/* #1 Elements */
	border: 1px solid rgb(172, 0, 0);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2fr 1fr 1fr;
	align-items: center;

	/* #2 Form */
	border-radius: 5px;
}

.gameInfo-player {
	/* #1 Elements */
	border: 1px solid rgb(172, 0, 0);
	display: flex;
	align-items: center;
	justify-content: center;

	/* #2 Form */
	width: 100px;
	height: 100px;
	border-radius: 5px;

	/* #3 Position */
	justify-self: center;
}

.gameInfo-player--left {
	/* #4 Margin - Padding */
	margin-left: 5px;
}

.gameInfo-player--right {
	/* #4 Margin - Padding */
	margin-right: 5px;
}

.gameInfo-score {
	/* #1 Elements */
	font-size: 42px;

	/* #3 Position */
	justify-self: center;

	/* #4 Margin - Padding */
	margin-bottom: 20px;
}

.gameInfo-score--left {
	/* #4 Margin - Padding */
	margin-left: 5px;
}

.gameInfo-score--right {
	/* #4 Margin - Padding */
	margin-right: 5px;
}

.gameInfo-timer {
	/* #1 Elements */
	font-size: 42px;

	/* #3 Position */
	grid-column: 1 / -1;
	justify-self: center;

	/* #4 Margin - Padding */
	margin-bottom: 20px;
}