/* ---------------------------------
Méthodologie B-E--M (Bloc, Élément, Modifieur)

Bloc: Un composant indépendant
ex: Un bouton, une barre de navigation, un en-tête...
ex: ".navBar {}"
ex: ".button {}"

Élément: Une partie d'un bloc qui a un sens uniquement dans le contexte de ce bloc.
ex: ".navBar-logo {}"
ex: ".button-icon {}"

Modifieur: Une variation ou un état d'un bloc ou d'un élément. 
ex: ".button--large {}"
ex: ".navBar-logo--pressed {}"
--------------------------------- */

/* ---------------------------------
#1 Éléments
#2 Forme
#3 Position
#4 Margin - Padding
#5 Animations
--------------------------------- */

/* ---NAVBAR--------------------- */
.navBar {
	/* #1 Éléments */
	display: grid;
	grid-template-rows: minmax(50px, auto);
	grid-auto-rows: minmax(75px, auto);

	/* #3 Position */
	grid-row: 1 / 1;
	z-index: 3;
}

.navBar-link-motion {
	/* #1 Éléments */
	border: 1px solid rgb(200, 0, 0);
}

.navBar-link {
	/* #1 Éléments */
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;

	/* #2 Forme */
	height: 100%;
}

.navBar-link-motion:first-child {
	/* #2 Forme */
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.navBar-link-motion:last-child {
	/* #2 Forme */
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.navBar-link--pressed {
	/* #1 Éléments */
	background-color: rgb(200, 0, 0, 0.3);
}