/* ---------------------------------
Méthodologie B-E--M (Bloc, Elément, Modifieur)

Block: Un composant indépendant
ex: Un bouton, une barre de navigation, un en-tête...
ex: ".navBar {}"
ex: ".button {}"

Element: Une partie d'un Block qui a un sens uniquement dans le contexte de ce Block.
ex: ".navBar-logo {}"
ex: ".button-icon {}"

Modifier: Une variation ou un état d'un Block ou d'un élément. 
ex: ".button--large {}"
ex: ".navBar-logo--pressed {}"
--------------------------------- */

/* ---------------------------------
#1 Elements
#2 Form
#3 Position
#4 Margin - Padding
#5 Animations
--------------------------------- */

/* ---BTN------------------------ */
.profile-btn {
	/* #1 Elements */
	border: 1px solid rgb(255, 239, 57);

	/* #2 Form */
	width: 35px;
	height: 30px;
}

/* ---INFOS---------------------- */
.profile-infos {
	/* #1 Elements */
	position: relative;
}

.profile-accountInfos {
	/* #1 Elements */
	border: 1px solid rgb(255, 239, 57);

	/* #2 Form */
	width: calc(40% - 10px);
	height: calc(40% - 20px);

	/* #3 Position */
	position: absolute;
	top: 10px;
	left: 0;
}

.profile-accountInfos-pic {
	/* #1 Elements */
	border: 1px solid rgb(255, 239, 57);
	display: flex;
	align-items: center;
	justify-content: center;

	/* #2 Form */
	width: 150px;
	height: 150px;

	/* #4 Margin - Padding */
	margin-top: 10px;
	margin-left: 10px;
}

.profile-achievements {
	/* #1 Elements */
	border: 1px solid rgb(255, 239, 57);

	/* #2 Form */
	width: calc(40% - 10px);
	height: calc(60% - 10px);

	/* #3 Position */
	position: absolute;
	bottom: 10px;
	left: 0;
}

.profile-achievements-count {
	/* #1 Elements */
	border-bottom: 1px solid rgb(255, 239, 57);
	display: flex;
	align-items: center;
	justify-content: center;

	/* #2 Form */
	width: 100%;
	height: 15%;
}

.profile-achievements-list {
	/* #1 Elements */
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: minmax(33.33%, auto);
	align-items: center;
	overflow-y: auto;

	/* #2 Form */
	width: 100%;
	height: 85%;
}

.profile-achievement {
	/* #1 Elements */
	border: 1px solid rgb(255, 239, 57);
	display: flex;
	align-items: center;
	justify-content: center;

	/* #2 Form */
	width: 80px;
	height: 80px;

	/* #3 Position */
	justify-self: center;
}

.profile-achievement-tooltip {
	/* #1 Elements */
	border: 1px solid rgb(255, 239, 57);
	display: flex;
	align-items: center;
	justify-content: center;

	/* #2 Form */
	height: 200px;
	width: 300px;

	/* #3 Position */
	z-index: 1;
	position: fixed;
}

.profile-stats {
	/* #1 Elements */
	border: 1px solid rgb(255, 239, 57);
	border-bottom: none;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;

	/* #2 Form */
	width: calc(60% - 10px);
	height: calc(25% - 10px);

	/* #3 Position */
	position: absolute;
	top: 10px;
	right: 10px;
}

.profile-history {
	/* #1 Elements */
	border: 1px solid rgb(255, 239, 57);
	overflow-y: auto;

	/* #2 Form */
	width: calc(60% - 10px);
	height: calc(75% - 10px);

	/* #3 Position */
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.profile-history-match {
	/* #1 Elements */
	border-bottom: 1px solid rgb(255, 239, 57);
	display: flex;
	align-items: center;
	justify-content: center;

	/* #2 Form */
	width: 100%;
	height: 10%;
}

/* ---FRIENDS-------------------- */
.profile-friends {
	/* #1 Elements */
	overflow-y: auto;
}

.profile-friends-head {
	/* #1 Elements */
	border: 1px solid rgb(255, 239, 57);
	border-bottom: none;
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end;

	/* #2 Form */
	height: 20%;

	/* #4 Margin - Padding */
	padding: 10px;
}

.profile-friends-add-input {
	/* #1 Elements */
	border: 1px solid rgb(255, 239, 57);

	/* #2 Form */
	width: 250px;

	/* #4 Margin - Padding */
	margin-right: 5px;
}

.profile-friends-add-input-btn {
	/* #2 Form */
	width: 70px;
}

.profile-friends-list {
	/* #1 Elements */
	border: 1px solid rgb(255, 239, 57);
	overflow-y: auto;

	/* #2 Form */
	height: 80%;
}

.profile-friends-list-head {
	/* #1 Elements */
	border-bottom: 1px solid rgb(255, 239, 57);
	display: flex;

	/* #2 Form */
	height: 6%;

	/* #3 Position */
	position: sticky;
	top: 0;
}

.profile-friends-list-body {
	/* #2 Form */
	height: 94%;
}

.profile-friends-col {
	/* #1 Elements */
	border-right: 1px solid rgb(255, 239, 57);
	display: flex;
	align-items: center;
	justify-content: center;

	/* #2 Form */
	width: 15%;
	height: 100%;
}

.profile-friends-col-head {
	/* #1 Elements */
	border: none;
	border-right: 1px solid rgb(255, 239, 57);
}

.profile-friends-col-name {
	/* #1 Elements */
	position: relative;

	/* #2 Form */
	width: 22%;
	min-width: 250px;
}

.profile-friends-col-scored {
	/* #1 Elements */
	border-right: none;

	/* #2 Form */
	width: 18%;
}

.profile-friend-search {
	/* #1 Elements */
	display: flex;
	align-items: center;
	justify-content: center;

	/* #2 Form */
	width: 100%;
	height: 100%;
}

.profile-friend-search-btn {
	/* #1 Elements */
	display: flex;
	align-items: center;
	justify-content: center;

	/* #3 Position */
	position: absolute;
	right: 10px;
}

.profile-friend-search-input {
	/* #1 Elements */
	border: 1px solid rgb(255, 239, 57);

	/* #2 Form */
	width: calc(100% - 60px);

	/* #3 Position */
	position: absolute;
	left: 10px;
}

.profile-friend {
	/* #1 Elements */
	border-bottom: 1px solid rgb(255, 239, 57);
	display: flex;

	/* #2 Form */
	height: 10%;
}

.profile-friend-name {
	/* #1 Elements */
	display: flex;
	align-items: center;

	/* #2 Form */
	width: 100%;
	height: 100%;
}

.profile-friend-pic {
	/* #1 Elements */
	border: 1px solid rgb(255, 239, 57);
	display: flex;
	align-items: center;
	justify-content: center;

	/* #2 Form */
	width: 50px;
	height: 50px;

	/* #4 Margin - Padding */
	margin-left: 10px;
}

.profile-friend-link {
	/* #1 Elements */
	background-color: transparent;

	/* #4 Margin - Padding */
	margin-left: 10px;
}

.profile-friend-del-btn {
	/* #3 Position */
	position: absolute;
	right: 10px;
}

/* ---BTN-PRESSED---------------- */
.profile-btn--pressed {
	/* #1 Elements */
	background-color: rgb(255, 239, 57, 0.355);
}