/* ---------------------------------
Méthodologie B-E--M (Bloc, Elément, Modifieur)

Block: Un composant indépendant
ex: Un bouton, une barre de navigation, un en-tête...
ex: ".navBar {}"
ex: ".button {}"

Element: Une partie d'un Block qui a un sens uniquement dans le contexte de ce Block.
ex: ".navBar-logo {}"
ex: ".button-icon {}"

Modifier: Une variation ou un état d'un Block ou d'un élément. 
ex: ".button--large {}"
ex: ".navBar-logo--pressed {}"
--------------------------------- */

/* ---------------------------------
#1 Elements
#2 Form
#3 Position
#4 Margin - Padding
#5 Animations
--------------------------------- */

@import url("NavBar.css");
@import url("Chat.css");
@import url("Matchmaker.css");
@import url("Home.css");
@import url("Profile.css");
@import url("Characters.css");
@import url("Leader.css");
@import url("Game.css");

/* ---TAGS----------------------- */
* {
	/* #1 Elements */
	background-position: center;
	box-sizing: border-box;
	font-family: serif;
	font-size: 21px;
	color: rgb(255, 255, 255);

	/* #4 Margin - Padding */
	margin: 0;
	padding: 0;
}

a {
	/* #1 Elements */
	text-decoration: none;
}

button {
	/* #1 Elements */
	border: none;
}

input {
	/* #1 Elements */
	border: none;

	/* #2 Form */
	height: 30px;
}

input:focus {
	/* #1 Elements */
	outline: none;
}

body * {
	/* #1 Elements */
	background-color: rgb(0, 0, 0);
}

/* ---ROOT----------------------- */
.root {
	/* #1 Elements */
	display: flex;
	align-items: center;
	justify-content: center;

	/* #2 Form */
	width: 100vw;
	height: 100vh;
	min-width: 1024px;
	min-height: 768px;
}

.root-motion {
	/* #1 Elements */
	display: grid;
	grid-template-columns: 265px auto;
	grid-template-rows: 1fr;
	overflow: hidden;

	/* #2 Form */
	width: 100%;
	height: 100%;
}

/* ---LOGIN---------------------- */
.login-btn {
	/* #1 Elements */
	border: 1px solid rgb(255, 255, 255);
	font-size: 24px;

	/* #2 Form */
	border-radius: 5px;
}

.login-btn--pressed {
	/* #1 Elements */
	background-color: rgb(255, 255, 255, 0.3);
}

/* ---HEADER--------------------- */
.header {
	/* #1 Elements */
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr 100px;

	/* #4 Margin - Padding */
	padding: 10px;
}