/* ---------------------------------
Méthodologie B-E--M (Bloc, Élément, Modifieur)

Bloc: Un composant indépendant
ex: Un bouton, une barre de navigation, un en-tête...
ex: ".navBar {}"
ex: ".button {}"

Élément: Une partie d'un bloc qui a un sens uniquement dans le contexte de ce bloc.
ex: ".navBar-logo {}"
ex: ".button-icon {}"

Modifieur: Une variation ou un état d'un bloc ou d'un élément. 
ex: ".button--large {}"
ex: ".navBar-logo--hidden {}"
--------------------------------- */

/* ---------------------------------
#1 Éléments
#2 Forme
#3 Position
#4 Margin - Padding
#5 Animations
--------------------------------- */

@import url("NavBar.css");
@import url("SideChat.css");
@import url("SideChatSettings.css");
@import url("Matchmaker.css");
@import url("Home.css");
@import url("AccountInfos.css");
@import url("Friends.css");
@import url("Characters.css");
@import url("Leader.css");
@import url("Errors.css");
@import url("Game.css");

/* ---TAGS----------------------- */
* {
	/* #1 Éléments */
	box-sizing: border-box;
	font-family: Bungee, sans-serif;
	font-size: 25px;
	color: rgb(255, 255, 255);

	/* #4 Margin - Padding */
	margin: 0;
	padding: 0;
}

a {
	/* #1 Éléments */
	text-decoration: none;
}

button {
	/* #1 Éléments */
	border: none;
}

input {
	/* #1 Éléments */
	border: none;

	/* #2 Forme */
	height: 30px;
}

input:focus {
	/* #1 Éléments */
	outline: none;
}

/* ---ROOT----------------------- */
.root {
	/* #1 Éléments */
	background-position: center;
	background-size: cover;
	display: grid;
	grid-template-columns: 265px 1fr;
	overflow: hidden;

	/* #2 Forme */
	width: 100vw;
	height: 100vh;
	min-width: 1024px;
	min-height: 768px;
}

/* ---LOGIN---------------------- */
.login-btn-box {
	/* #3 Position */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.login-btn {
	/* #1 Éléments */
	background-color: rgba(30, 30, 30, 0.8);
	border: 3px solid rgb(255, 255, 255);
	font-size: 30px;

	/* #2 Forme */
	border-radius: 5px;
}

.login-btn:active {
	/* #1 Éléments */
	background-color: rgb(255, 255, 255, 0.3);
}

/* ---HEADER--------------------- */
.header {
	/* #1 Éléments */
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr 106px;
}

.header-middleContent {
	/* #3 Position */
	grid-row: 2 / 2;
	z-index: 2;
	position: relative;
}

/* ---MAIN----------------------- */
.main {
	/* #3 Position */
	grid-column: 2 / -1;
}