/* ------------------------------ */
/* #1 Éléments */
/* #2 Forme */
/* #3 Position */
/* #4 Margin - Padding */
/* #5 Animations */
/* ------------------------------ */

@import url('NavBar.css');
@import url('Chat.css');
@import url('ChatSettings.css');
@import url('Matchmaker.css');
@import url('Home.css');
@import url('AccountInfos.css');
@import url('Friends.css');
@import url('Characters.css');
@import url('Leader.css');
@import url('Errors.css');
@import url('Game.css');

/* ---FONTS---------------------- */
@font-face {
	font-family: Main;
	src: url('../resource/font.ttf');
	font-weight: normal;
	font-style: normal;
}

/* ---TAGS----------------------- */
* {
	/* #1 Éléments */
	box-sizing: border-box;
	background-position: center;
	background-size: cover;
	font-family: Main, serif;
	font-size: 20px;
	color: rgb(0, 0, 0);

	/* #4 Margin - Padding */
	margin: 0;
	padding: 0;
}

a {
	/* #1 Éléments */
	text-decoration: none;
}

button {
	/* #1 Éléments */
	border: none;
	cursor: pointer;
}

input {
	/* #1 Éléments */
	border: none;

	/* #4 Margin - Padding */
	padding: 0 10px
}

input:focus {
	/* #1 Éléments */
	outline: none;
}

/* ---ROOT----------------------- */
.root {
	/* #1 Éléments */
	background-image: url('../resource/background.png');
	display: grid;
	grid-template-columns: 265px 1fr;
	overflow: hidden;

	/* #2 Forme */
	width: 100vw;
	height: 100vh;
	min-width: 1024px;
	min-height: 768px;
}

/* ---LOGIN-BTN------------------ */
.login-btn {
	/* #1 Éléments */
	background-image: url('../resource/assets-ui/background-1.png');
	border: solid 9px;
	border-image-source: url('../resource/assets-ui/black-border.png');
	border-image-slice: 15;
	border-image-width: 12px;

	/* #2 Forme */
	width: 330px;
	height: 120px;

	/* #3 Position */
	position: fixed;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}

.login-btn-txt {
	/* #1 Éléments */
	background-image: url('../resource/assets-ui/42AUTH.png');
}

/* ---HEADER--------------------- */
.header {
	/* #1 Éléments */
	display: grid;
	grid-template-rows: auto 1fr 110px;
	grid-gap: 5px;

	/* #3 Position */
	grid-column: 1 / 1;

	/* #4 Margin - Padding */
	padding: 10px;
}

/* ---MAIN----------------------- */
.main {
	/* #3 Position */
	grid-column: 2 / 2;

	/* #4 Margin - Padding */
	padding: 10px;
	padding-left: 0;
}

/* ---CUSTOM-TXT----------------- */
.custom-txt {
	/* #1 Éléments */
	background-size: unset;
	background-repeat: no-repeat;

	/* #2 Forme */
	width: 100%;
	height: 100%;
}