/* ---------------------------------
Méthodologie B-E--M (Bloc, Elément, Modifieur)

Block: Un composant indépendant
ex: Un bouton, une barre de navigation, un en-tête...
ex: ".navBar {}"
ex: ".button {}"

Element: Une partie d'un Block qui a un sens uniquement dans le contexte de ce Block.
ex: ".navBar-logo {}"
ex: ".button-icon {}"

Modifier: Une variation ou un état d'un Block ou d'un élément. 
ex: ".button--large {}"
ex: ".navBar-logo--pressed {}"
--------------------------------- */

/* ---------------------------------
#1 Elements
#2 Form
#3 Position
#4 Margin - Padding
#5 Animations
--------------------------------- */

/* ---OPACITY-------------------- */
.opacity-enter {
	/* #1 Elements */
	opacity: 0 !important;
}

.opacity-enter-active {
	/* #1 Elements */
	opacity: 1 !important;

	/* #5 Animations */
	transition: opacity 300ms ease-in;
}

.opacity-enter-done {
	/* #1 Elements */
	opacity: 1 !important;
}

.opacity-exit {
	/* #1 Elements */
	opacity: 1 !important;
}

.opacity-exit-active {
	/* #1 Elements */
	opacity: 0 !important;

	/* #5 Animations */
	transition: opacity 300ms ease-out;
}