@import url("ContactInfo.css");
@import url("ChatBox.css");
@import url("ManageRooms.css");
@import url("DirectMessages.css");
@import url("ManageChannels.css");
@import url("ChannelCreate.css");

.chat-main-grid {
    display: grid;
    grid-template-columns: 1.1fr 3fr 1fr;
    gap: 1px;
    height: 100vh;
    transition: grid-template-columns 0.4s;
    background-color: rgba(17, 171, 218, 0.3);
}

.chat-main-grid.close {
    grid-template-columns: 1.1fr 4fr 0fr;
}

