/*The column showing the contact info*/

.chat-main-grid .contact-info {
    display: grid;
    grid-template-rows: 2.5fr 6fr;
    border: 1px solid rgb(121, 199, 245);
    border-radius: 5px;
    height: 100%;
}

.chat-main-grid .contact-info .header-contact
{
    backdrop-filter: blur(25px);
    /* border: 1px solid rgb(121, 199, 245); */
}

.header-contact, .body-contact {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-main-grid .contact-info .body-contact
{
    border: 1px solid rgb(245, 175, 121);
    font-size: 18px;
    backdrop-filter: blur(25px);
    background-color: rgba(93, 13, 113, 0.1);
    font-family: sans-serif;
}

.chat-info {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    /* grid-template-rows: repeat(auto-fill, minmax(50px, 5fr)); */
    height: 100%;
}


.chat-info .members-title{
    text-align: center;
    background-color: rgba(47, 13, 48, 0.38);
}

.members-title h1 {
    margin-top: 10%;
    font-size: 18px;
}

.chat-info .conversation-info{
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
}

.chat-info .add-members-channel{
    background-color: rgba(196, 18, 202, 0.2);
    text-align: center;
    height: 100%;
}

.chat-info .leave-channel{
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    height: 100%;
}