/*

component is a react function that will return an html element

element is an html object 


CSS can style class, id or balise
class:
id: a unique key that you can attribute to any element
balise: key to call an html element (e.g div, input, form, button, etc)
*/

/*styling a class*/

.chat-container {
    display: grid;
    padding: 10px 10px 10px 0;
    gap: 15px;
    grid-template-rows: auto 100px;
    max-height: 100vh;
}
.chat-container .messages {
    border: 1px solid green;
    border-radius: 5px;
    overflow: auto;
    padding-left: 10px;

}